body{
  background-color: rgb(160, 87, 230);
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  border: 2px solid rgba(99, 87, 98, 0.636);
  width: 280px;
  align-items: center;

}

.header {
  opacity: 0.2;
  font-size: larger;
  font-weight: bold;
  margin: 5%;
}

img {
  align-self: flex-end;
  border-radius: 80%;
  height: 100px;
  width: 100px;
  align-content: center;

}

.footer {
  margin: 2%;
  margin-top: 50px;
}

h4 {
  opacity: 0.8;
  text-align: center;
  margin: 0%;
}

.list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

li {
  padding: 15px 15px;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li:hover {
  background-color: rgba(151, 146, 156, 0.362);
  color: rgb(158, 100, 213);
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 10,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
} */
